clouddomain: ci.vexxhost.ca
ceph_devices:
- /dev/sdb
ephemeral_storage_devices:
- /dev/sdc
- /dev/sdd
octavia_enabled: false
dcn_az: az0
# https://issues.redhat.com/browse/OCPBUGS-2921
neutron_mtu: 1400
local_ip: 192.168.24.10
control_plane_ip: 192.168.24.11
hostonly_gateway: 192.168.25.2
tunnel_remote_ips:
  - 38.102.83.97
rhsm_enabled: true
extra_heat_params:
  CinderRbdFlattenVolumeFromSnapshot: true
